@import "google-fonts-roboto.css";
$background-color: #3cb054;
$accent-color: #dff0d8;
$text-color: white;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: $text-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $accent-color;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
  color: $text-color !important;
  text-decoration: none !important;
}

.m0 {
  margin: 0 !important;
}

h1 {
  text-align: center;
  font-weight: 900 !important;
  font-size: 2rem !important;
  color: black;
  @media (min-width: 992px) {
    font-size: 2.5rem !important;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.block-center {
  display: block;
  text-align: center;
}

.m-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-t-3 {
  padding-top: 3rem;
}

.ppc {
  &-paragraph {
    font-size: 1rem;
    text-align: center;
    @media (min-width: 412px) {
      font-size: 1.1rem;
    }
    @media (min-width: 576px) {
      font-size: 1.2rem;
    }
  }
  &-logo {
    @media (min-width: 810px) {
      width: 20vw;
    }
    width: 40vw;
  }
  &-background {
    background-color: $background-color;
    padding: 1rem;
  }
  &-hero {
    height: 100vh;
    min-height: 600px;
  }
}
