@import "google-fonts-roboto.css";
$background-color: #3cb054;
$accent-color: #dff0d8;
$text-color: white;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-display: swap;
  color: $text-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $accent-color;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
  color: $text-color !important;
  text-decoration: none !important;
}

h1 {
  text-align: center;
  font-weight: 900 !important;
  font-size: 2rem !important;
  color: black;
  @media (min-width: 992px) {
    font-size: 2.5rem !important;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.block-center {
  display: block;
  text-align: center;
}
.m-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-t-1 {
  margin-top: 1rem;
}

footer {
  * {
    color: black !important;
  }
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.chart {
  &-container {
    @media (min-width: 576px) {
      width: 70vw;
    }
    width: 90vw;
  }
}

.ppc {
  &-paragraph {
    font-size: 1rem;
    text-align: center;
    @media (min-width: 412px) {
      font-size: 1.1rem;
    }
    @media (min-width: 576px) {
      font-size: 1.2rem;
    }
  }
  &-donation {
    @media (max-width: 576px) {
      font-size: 0.7rem;
    }
    text-align: center;
    margin-left: 0.5rem;
    display: contents;
  }
  &-logo {
    @media (min-width: 810px) {
      width: 300px;
      height: 60px;
    }
    width: 190px;
    height: 40px;
    &-container {
      min-height: 40px;
    }
  }
  &-background {
    background-color: $background-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-hero {
    height: 100vh;
    min-height: 600px;
  }
  &-progress-circle {
    font-family: "Roboto", sans-serif;
    * text {
      fill: white;
    }
  }
  &-fork-active {
    margin: 0 0.5rem;
    text-align: center;
    > h2 {
      padding: 0.5rem;
      border: 1px solid $accent-color;
      border-radius: 5px;
    }
  }
  &-table {
    margin-left: auto;
    margin-right: auto;

    td:first-child {
      padding-right: 1rem;
      display: flex;
    }

    td {
      padding: 0 0.5rem;
    }

    * img {
      width: 20px;
      height: 20px;
    }
  }
}
